.navbar {
    width: 100%;
    height: 65px;
    background-color: white;
    display: flex;
    /* justify-content: right; */
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 2;

  }

.content2{
    width: 100%;
    display: flex;
    justify-content: right;
    /* margin-right: 50px; */
    margin-right: 3%;
}

.link-page{
    display: flex;
    background: rgba(239, 239, 239, 1);
    width: auto;
    margin: 10px;
    margin-left: 15px; 
    -webkit-box-shadow: 0px 0px 5px 5px rgba(200, 197, 200, 1);
    box-shadow: 0px 0px 5px 5px rgba(200, 197, 200, 1);
    border-radius: 7px;
}

.link-page a{
    text-decoration: none;
    margin: auto;
    font-size: 13px;
    padding: 13px;
    font-weight: bold;
    color: black;
}

.link-page a:hover{
    background: rgba(37, 37, 37, 1);
    color: wheat;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(200, 197, 200, 1);
    box-shadow: 0px 0px 5px 5px rgba(200, 197, 200, 1);
    border-radius: 7px;
}